<h1>Cadastre-se</h1>

<form action="/socio/save" method="post">
    <input type="text" name="nome" placeholder="Digite seu nome completo" />
    <br>
    <input type="email"  name="email" placeholder="Digite seu email" />
    <br>
    <input type="text"  name="senha" placeholder="Digite sua senha" />
    <br>
    <input type="text"  name="cpf" placeholder="Digite seu cpf" />
    <br>
    <input type="date"   name="dataNascimento"  />
    <br>
    <input type="text"   name="endereco" placeholder="Digite seu endereço" />
    <br>
    <input type="text"   name="cidade" placeholder="Digite sua cidade" />
    <br>
    <input type="text"   name="uf" placeholder="UF" />
    <br>
    <input type="hidden"  name="tipo" />
    <input type="hidden"  name="status" />
    <input type="submit" value="Cadastrar socio">
</form>