<h1>Cadastre-se</h1>

<form action="/socio/save" method="post">
    <input type="text" id=""name="nome" placeholder="Digite seu nome completo" />
    <br>
    <input type="email" id="" name="email" placeholder="Digite seu email" />
    <br>
    <input type="text" id="" name="senha" placeholder="Digite sua senha" />
    <br>
    <input type="text" id="" name="cpf" placeholder="Digite seu cpf" />
    <br>
    <input type="date" id=""  name="dataNascimento"  />
    <br>
    <input type="text" id=""  name="endereco" placeholder="Digite seu endereço" />
    <br>
    <input type="text" id=""  name="cidade" placeholder="Digite sua cidade" />
    <br>
    <input type="text" id=""  name="uf" placeholder="UF" />
    <br>
    <input type="submit" value="Cadastrar socio">
</form>